@model List<User>
@{
    ViewData["Title"] = "Index";
}
<section class="main1 text-white">
    <div class=" pt-5 text-center">
        <h1>Main Features</h1>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered alteration in some form.</p>
    </div>
    <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center  justify-content-center  text-white fs-2 mb-3">
                    <i class="bi bi-calendar3-fill"></i>
                </div>
                <h2>Crafted for Startups</h2>
                <p class="text-muted pt-3">Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>

            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-2 mb-3">
                    <i class="bi bi-calendar3-fill"></i>
                </div>
                <h2>High-quality Design</h2>
                <p class="text-muted pt-3">Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>

            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white fs-2 mb-3">
                    <i class="bi bi-calendar3-fill"></i>
                </div>
                <h2>All Essential Components</h2>
                <p class="text-muted pt-3">Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>

            </div>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-2 mb-3">
                    <i class="bi bi-calendar3-fill"></i>
                </div>
                <h2>Crafted for Startups</h2>
                <p class="text-muted pt-3">Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>

            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-2 mb-3">
                    <i class="bi bi-calendar3-fill"></i>
                </div>
                <h2>High-quality Design</h2>
                <p class="text-muted pt-3">Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>

            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white fs-2 mb-3">
                    <i class="bi bi-calendar3-fill"></i>
                </div>
                <h2>All Essential Components</h2>
                <p class="text-muted pt-3">Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.</p>

            </div>
        </div>
    </div>
</section>
<section class="main2 text-white">
    <div class=" pt-5 text-center ">
        <h1>Main Features</h1>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered alteration in some form.</p>
    </div>
    <div class="container col-lg-5 pt-5">
        <img width="770px" height="400px" src="./image/video.jpg" alt="">
    </div>
    <div class="pt-5">
        <div class="container gallery">
            <div class="row d-flex align-items-center justify-content-center pt-3 ">
                <div class="col-lg-2 col-md-4 col-6 ">
                    <img src="./image/uideck.svg" width="130px" height="63px" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="./image/tailgrids.svg" width="130px" height="67px" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="./image/lineicons.svg" width="130px" height="46px" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="./image/ayroui.svg" width="130px" height="63px" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="./image/plainadmin.svg" width="130px" height="51px" alt="">
                </div>

            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="./image/about-image.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
                <p class="lead text-muted">The main ‘thrust’ is to focus on educating attendees on how to best protect highly vulnerable business applications with interactive panel discussions and roundtables.</p>
                <div class="">
                    <div class="row">
                        <div class="col-md text-muted">
                            <p> <i class="bi bi-check-lg fs-4"></i> Premium quality</p>
                            <p><i class="bi bi-check-lg fs-4"></i> No code required</p>
                            <p><i class="bi bi-check-lg fs-4"></i> Use for lifetime</p>
                        </div>
                        <div class="col-md text-muted">
                            <p><i class="bi bi-check-lg fs-4"></i> Regular updates</p>
                            <p><i class="bi bi-check-lg fs-4"></i> Rich documentation</p>
                            <p><i class="bi bi-check-lg fs-4"></i> Developer friendly</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row featurette pt-5">
            <div class="col-lg-6 order-md-2">
                <h2 class="featurette-heading">Bug free code</h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h2 class="featurette-heading">Premier support</h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <h2 class="featurette-heading">Regular updates</h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt consectetur adipiscing elit setim.</p>
            </div>
            <div class="col-lg-6 order-md-1">
                <img width="500px" height="500px" src="./image/about-image-2.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="main3">
    <div class=" pt-5 text-center text-white">
        <h1>What Our Users Says</h1>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered alteration in some form.</p>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            @foreach (var item in Model)
            {

            <div class="feature col-lg-3 ">
                <div class="feature-icon d-inline-flex align-items-center  justify-content-center  text-white mb-3">
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p class="pt-3 text-white">@item.Desc</p>
                <div class="d-flex">
                    <img width="50px" height="50px" src="./image/@item.Image" alt="">
                    <div>
                        <h5 class="text-white">@item.Name</h5>
                        <p class="text-muted">Founder @@@item.Founder</p>
                    </div>
                </div>
            </div>
            }

        </div>
</section>
<section class="main4">
    <div class=" pt-5 text-center text-white">
        <h1>Simple and Affordable Pricing</h1>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered alteration in some form.</p>
    </div>
    <div class="container">
        <div class="row text-left d-flex align-items-center pt-5">
            <div class="col-lg-4 ">
                <div class=" mb-4 rounded-3 shadow-sm card-title">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title text-white ">$40<small class="text-muted fw-light">/mo</small> </h1>
                        <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                        <div class="text-center">
                            <button type="button" class=" btn btn-lg btn-primary">Start Free Trial</button>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check-lg"></i> All UI Components</li>
                            <li><i class="bi bi-check-lg"></i> Use with Unlimited Projects</li>
                            <li><i class="bi bi-check-lg"></i> Commercial Use</li>
                            <li><i class="bi bi-check-lg"></i> Email Support</li>
                            <li><i class="bi bi-check-lg"></i> Lifetime Access</li>
                            <li><i class="bi bi-check-lg"></i> Free Lifetime Updates</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-4  ">
                <div class=" mb-4 rounded-3 shadow-sm card-title">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title text-white ">$338<small class="text-muted fw-light">/mo</small> </h1>
                        <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                        <div class="text-center">
                            <button type="button" class=" btn btn-lg btn-primary">Start Free Trial</button>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check-lg"></i> All UI Components</li>
                            <li><i class="bi bi-check-lg"></i> Use with Unlimited Projects</li>
                            <li><i class="bi bi-check-lg"></i> Commercial Use</li>
                            <li><i class="bi bi-check-lg"></i> Email Support</li>
                            <li><i class="bi bi-check-lg"></i> Lifetime Access</li>
                            <li><i class="bi bi-check-lg"></i> Free Lifetime Updates</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  ">
                <div class=" mb-4 rounded-3 shadow-sm card-title">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title text-white ">$589<small class="text-muted fw-light">/mo</small> </h1>
                        <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                        <div class="text-center">
                            <button type="button" class=" btn btn-lg btn-primary">Start Free Trial</button>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi bi-check-lg"></i> All UI Components</li>
                            <li><i class="bi bi-check-lg"></i> Use with Unlimited Projects</li>
                            <li><i class="bi bi-check-lg"></i> Commercial Use</li>
                            <li><i class="bi bi-check-lg"></i> Email Support</li>
                            <li><i class="bi bi-check-lg"></i> Lifetime Access</li>
                            <li><i class="bi bi-check-lg"></i> Free Lifetime Updates</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-4">

                <form class=" form2 ">
                    <div>
                        <h4 class="text-white">Subscribe to receive future updates</h4>
                        <h5 class="pt-3">Lorem ipsum dolor sited Sed ullam corper consectur adipiscing Mae ornare massa quis lectus.</h5>
                    </div>
                    <hr>
                    <div class="form-outline mb-4 pt-3">
                        <input type="text" id="form1Example1" class="form-control" value="Enter your name" style="background-color: rgb(28, 33, 58);box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="form1Example2" class="form-control" value="Enter your email" style="background-color: rgb(28, 33, 58);box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </div>
                    <div class="text-center pt-4 ">
                        <h5>No spam guaranteed, So please don’t send any spam mail.</h5>
                    </div>
                </form>
            </div>

            <div class="col-lg-8">

                <form class=" mt-5 text-white form1">
                    <div>
                        <h1>Need Help? Open a Ticket</h1>
                        <h5 class="text-muted">Our support team will get back to you ASAP via email.</h5>
                    </div>
                    <div class="row mb-4 pt-5 ">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label text-white " for="form3Example1">Your Name</label>
                                <input type="text" id="form3Example1" class="form-control" value="Enter your name" style="background-color: rgb(28, 33, 58);box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label text-white" for="form3Example2">Your Email</label>
                                <input type="email" id="form3Example2" class="form-control " value="Enter your email" style="background-color: rgb(28, 33, 58);box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                            </div>
                        </div>

                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label text-white" for="form4Example3">Your Message</label>
                        <textarea class="form-control " id="form4Example3" rows="4" style="background-color: rgb(28, 33, 58);box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary">Submit Ticket</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>